/* @override 
	http://dev.protectal.pl/wp-content/themes/protectal/css/style-login.css */

body.login { 
    background: #000 url('../images/login_bg2.jpg') no-repeat center center fixed;
    font-family: 'Coda', sans-serif;
    min-height: 100%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.login div#login { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute; 
}
body.login div#login h1 { 
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 160px;
    z-index: 5;     
}
body.login div#login h1 a {
    background-position: center center;
    background-size: 100%;
    margin-top: 0px;
    padding: 0;
    width: 160px;
    opacity: 0.7;
}
body.login div#login h1 a:hover{
    opacity: 0.5;
}
body.login div#login form {
    position: absolute !important;
    right: 40px !important;
    bottom: 60px !important;
    width: 300px !important; 
    height: 250px !important;
    background: transparent; 
    border: none; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}

body.login div#login form.wpcf7-form{
    height: auto !important;
}

body.login div#login form#loginform p {}
.login label {
    color: #a4a4a4;
}
body.login div#login form#loginform input {
    border-radius: 0;
    -webkit-border-radius: 0;
}
input:-webkit-autofill {
    background-color: #fff !important;
}
.login form .input, .login input[type="text"] {
     font-size: 20px;
     margin-top: 8px;
     background: #a4a4a4;
     border-color: #a4a4a4;
}
.widefat, div.updated, div.error, .wrap .add-new-h2, textarea, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select, .tablenav .tablenav-pages a, .tablenav-pages span.current, #titlediv #title, .postbox, #postcustomstuff table, #postcustomstuff input, #postcustomstuff textarea, .imgedit-menu div, .plugin-update-tr .update-message, #poststuff .inside .the-tagcloud, .login form, #login_error, .login .message, #menu-management .menu-edit, .nav-menus-php .list-container, .menu-item-handle, .link-to-original, .nav-menus-php .major-publishing-actions .form-invalid, .press-this #message, #tb_window, .tbtitle, .highlight, .feature-filter, #widget-list .widget-top, .editwidget .widget-inside {
    border-radius: 0;
    -webkit-border-radius: 0;
}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {
    margin-bottom: 30px !important;
}
input[type="password"] {
    margin-bottom: 30px !important;
}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {
padding-top: 10px;
}
body.login div#login form#loginform p.submit {
    background-color: #e00e00;

}
body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #e00e00;
}
.wp-core-ui .button-primary, div#login-contact div.wpcf7 form input.wpcf7-submit, body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #212121;
    color: #a4a4a4;
    background-image: none;
    border: none;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    height: 36px !important;
    padding: 0 15px !important;
    margin-top: -10px;
}
div#login-contact div.wpcf7 form input.wpcf7-submit{
    margin-top: 10px;
}
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus, div#login-contact div.wpcf7 form input.wpcf7-submit:hover, div#login-contact div.wpcf7 form input.wpcf7-submit:focus{
    background-color: #000 !important;
    background-image: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #a4a4a4;
}

textarea.wpcf7-textarea{
    height: 80px !important;
}
body.login div#login p#nav { display: none; }
body.login div#login p#nav a {}
body.login div#login p#backtoblog { display: none; }
body.login div#login p#backtoblog a {}
a.login_contact{
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 40px;
    color: #a4a4a4;
}
div#login_footer{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 64px;
}
div#login_footer_wrapper{
    width: auto;
    position: absolute;
    right: 90px;
}
div#login_footer_wrapper p{
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    padding: 5px 0 0 0;
}
.widget, #widget-list .widget-top, .postbox, #titlediv, #poststuff .postarea, .stuffbox {
    border: none;
}
ul#findipinfowp li{
    float: left;
    color: #343434;
    padding: 24px 20px 0 0;
    font-size: 12px;
}
#findipinfowp img{
    opacity: 0.3;
    padding-left: 5px;
    margin-top: -3px;
}
/*  Contact Start Page  */
body.login div#login.login-contact-wrap{
}
body.login div#login.login-contact-wrap h1 a {
    margin-top: 50px;
}
div#login-contact div.wpcf7 form{
    height: auto;
    overflow: hidden;
    bottom: 40px;
}
div#login-contact div.wpcf7 form p{
    font-size: 14px;
    color: #777;
    text-align: left;
}
div#login-contact div.wpcf7 form input.wpcf7-email{
    height: 34px;
    border-color: #a4a4a4;
    background-color: #a4a4a4;
    margin-bottom: 20px;
    font-size: 16px; 
    color: #333;
}
.wpcf7-form-control{
    width: 300px !important;
}
.wpcf7 textarea.wpcf7-textarea { width:300px; background-color: #a4a4a4; border-color: #a4a4a4;font-size: 16px; color: #333;}

.wpcf7 input[type="submit"]{
    width: 100px !important;
    float: right;
    background-color: #e00e00;
    color: #fff;
    background-image: none;
    border: none;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    height: 36px !important;
    padding: 0 15px !important;
    margin-top: 20px;
    cursor: hand !important;
}
.wpcf7 input[type="submit"]:hover{
    background-color: #cd1206 !important;
}
.wpcf7-validation-errors, .wpcf7-not-valid-tip-no-ajax{
     color: #e00e00;
     padding-top: 10px;   
}
.wpcf7-mail-sent-ok{
     color: #fff;
     padding-top: 15px;
     text-decoration: underline;
 }
 div.error, .login #login_error {
    background-color: #ffebe8;
    border-color: #c00;
    position: absolute;
    width: 300px;
    top: 40px;
    right: 80px;
 }
 
div.error, .login #login_error a{
      display: none !important;
  }
#login-error-wrap{
    position: absolute;
    width: 400px;
    height: 400px;
    bottom: 0;
    right: 10px;
}
/* AUDIO PLAYER */
#ubaPlayer{
    position: absolute;
    right: 50px;
    bottom: 20px;
}
#ubaPlayer ul li{
    text-indent: -9999px;
}
#ubaPlayer ul li a{
    text-indent: -9999px;
    color: #fff;
    display: block;
    height: 30px;
    width: 30px;
}
#fallback {
	display: none;
}

.audioButton {
    text-indent: -9999px;
	background: url("../images/btn.png") no-repeat 0 7px;
	display: block;
	color: #fff;
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: 200px;
}

.audioButton:hover {
	background-position: 0 -33px;
}

.audioButton.playing {
	background-position: 0 -73px;
}

.audioButton.playing:hover {
	background-position: 0 -113px;
}

.audioButton.loading,
.audioButton.loading:hover {
	background: url("../images/loading.gif") no-repeat 0 7px;
	text-indent: -9999px;
}

#player {
	display: none;
}
/*
    LOGIN MEDIA QUIRIES
*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
       	
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	    body.login {
	        background-position-x: -400px;
	        background-position-y: -100px;
	    }
	
		body.login div#login {
		    position: static;
		    margin: 0;
		    padding-top: 30px;
		    width: 400px;
		    height: 86%;
		    margin-bottom: 200px;
		}
		
		body.login div#login h1 {
		    float: none;
		    padding-top: 0;
		    bottom: 15px;
		}
		
		body.login div#login form {
		    float: none;
		    border-left: none;
		}
		div#login_footer {
		    position: relative;
		    width: 100%;
		    height: auto;
		    margin: 0;
		    padding: 0;
		}
		div#login_footer_wrapper {
		    width: 100%;
		    padding: 0;
		    margin: 0;
		    left: 0;
		}
		section#ip-address-widget{
		    overflow: hidden;
		    background: #212121;
		    width: 100%;
		    border: none;
		    margin: 0;
		    padding:0 0 20px 0;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		}
		ul#findipinfowp{
		    float: right;
		    width: 300px;
		}
		ul#findipinfowp li:first-child{
		    margin-left: -left: 20px;
		}
		body.login div#login form {
		    margin-bottom: 20px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        body.login {
            background-position-x: -600px;
            background-position-y: -100px;
                }
                
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	    body.login div#login {
	        width: 90%;
	        margin-left: 5%;
	    }
	    body.login div#login form {
	        margin-top: 20px;
	        position: static;
    	    width: 80%;
    	    height: 290px;

	    }
        body.login {
            background-position-x: -800px;
            background-position-y: -50px;
            height: 67%;
        }
        body.login div#login form {
            top: 100px;
            margin-bottom: 200px;
        }
        
        body.login div#login h1 {
            top: 20px;
            left: 27%;
        }
        div#login_footer_wrapper {
            position: fixed;
            bottom: 0;
        }
	}